<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitoptionstemplate>
            <version>3.2.9</version>
            <platform>community</platform>
        </Aitoc_Aitoptionstemplate>
    </modules>

    <admin>
        <routers>
            <aitoptionstemplate>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitoptionstemplate</module>
                    <frontName>aitoptionstemplate</frontName>
                </args>
            </aitoptionstemplate>
        </routers>
    </admin>
	
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitoptionstemplate>
                    <files>
                        <default>Aitoc_Aitoptionstemplate.csv</default>
                    </files>
                </Aitoc_Aitoptionstemplate>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitoptionstemplate>
                    <file>aitoptionstemplate.xml</file> 
                </aitoptionstemplate>
            </updates>
        </layout>        
    </adminhtml>
  
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <Aitoc_Aitoptionstemplate before="Mage_Sales_DownloadController">Aitoc_Aitoptionstemplate_Sales</Aitoc_Aitoptionstemplate>
                    </modules>
                </args>
            </sales>
        </routers>
        <events></events>
        <translate>
            <modules>
                <Aitoc_Aitoptionstemplate>
                    <files>
                        <default>Aitoc_Aitoptionstemplate.csv</default>
                    </files>
                </Aitoc_Aitoptionstemplate>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitoptionstemplate>
                    <file>aitoptionstemplate.xml</file> 
                </aitoptionstemplate>
            </updates>
        </layout>        
    </frontend>
    
    <default>
        <general>
            <aitoptionstemplate>
                <default_product_id>0</default_product_id>
            </aitoptionstemplate>
        </general>
    </default>
    
    <global>
        <models>
            <aitoptionstemplate>
                <class>Aitoc_Aitoptionstemplate_Model</class>
                <resourceModel>aitoptionstemplate_mysql4</resourceModel>
            </aitoptionstemplate>

            <aitoptionstemplate_mysql4>
                <class>Aitoc_Aitoptionstemplate_Model_Mysql4</class>
                <entities>
                    <aittemplate>
                        <table>aitoc_catalog_product_option_template</table>
                    </aittemplate>
                    <aitoption2tpl>
                        <table>aitoc_catalog_product_option2template</table>
                    </aitoption2tpl>
                    <aitproduct2tpl>
                        <table>aitoc_catalog_product_product2template</table>
                    </aitproduct2tpl>
                    <aitproduct2required>
                        <table>aitoc_catalog_product_product2required</table>
                    </aitproduct2required>
                    <reserve_catalog_product_option>
                        <table>aitoc_reserve_catalog_product_option</table>
                    </reserve_catalog_product_option>
                    <reserve_catalog_product_option2template>
                        <table>aitoc_reserve_catalog_product_option2template</table>
                    </reserve_catalog_product_option2template>
                    <reserve_catalog_product_optionprice>
                        <table>aitoc_reserve_catalog_product_option_price</table>
                    </reserve_catalog_product_optionprice>
                    <reserve_catalog_product_optiontemplate>
                        <table>aitoc_reserve_catalog_product_option_template</table>
                    </reserve_catalog_product_optiontemplate>
                    <reserve_catalog_product_optiontitle>
                        <table>aitoc_reserve_catalog_product_option_title</table>
                    </reserve_catalog_product_optiontitle>
                    <reserve_catalog_product_option_typeprice>
                        <table>aitoc_reserve_catalog_product_option_type_price</table>
                    </reserve_catalog_product_option_typeprice>
                    <reserve_catalog_product_option_typetitle>
                        <table>aitoc_reserve_catalog_product_option_type_title</table>
                    </reserve_catalog_product_option_typetitle>
                    <reserve_catalog_product_option_typevalue>
                        <table>aitoc_reserve_catalog_product_option_type_value</table>
                    </reserve_catalog_product_option_typevalue>
                    <reserve_catalog_product_required>
                        <table>aitoc_reserve_catalog_product_product2required</table>
                    </reserve_catalog_product_required>
                    <reserve_catalog_product_template>
                        <table>aitoc_reserve_catalog_product_product2template</table>
                    </reserve_catalog_product_template>
                    <product_option_title>
                        <table>aitoc_reserve_catalog_product_option_title</table>
                    </product_option_title>
                    <product_option_price>
                        <table>aitoc_reserve_catalog_product_option_price</table>
                    </product_option_price>
                    <product_option_value_price>
                        <table>aitoc_reserve_catalog_product_option_type_price</table>
                    </product_option_value_price>
                    <product_option_value_title>
                        <table>aitoc_reserve_catalog_product_option_type_title</table>
                    </product_option_value_title>
                    <product_option_dependable>
                        <table>aitoc_dependable_option</table>
                    </product_option_dependable>
                    <product_option_dependable_child>
                        <table>aitoc_dependable_option_child</table>
                    </product_option_dependable_child>
                    <reserve_product_option_dependable>
                        <table>aitoc_reserve_catalog_product_dependable_option</table>
                    </reserve_product_option_dependable>
                    <reserve_product_option_dependable_child>
                        <table>aitoc_reserve_catalog_product_dependable_option_child</table>
                    </reserve_product_option_dependable_child>
                </entities>
            </aitoptionstemplate_mysql4>
            
            <catalog>
                <rewrite>
                        <product_option>Aitoc_Aitoptionstemplate_Model_Rewrite_FrontCatalogProductOption</product_option>
                </rewrite>
                <rewrite>
                        <product>Aitoc_Aitoptionstemplate_Model_Rewrite_FrontCatalogProduct</product>
                </rewrite>
                <rewrite>
                        <product_type_configurable>Aitoc_Aitoptionstemplate_Model_Rewrite_FrontCatalogProductTypeConfigurable</product_type_configurable>
                </rewrite>
                <rewrite>
                        <product_type_grouped>Aitoc_Aitoptionstemplate_Model_Rewrite_FrontCatalogProductTypeGrouped</product_type_grouped>
                </rewrite>
                
            </catalog>
            
            <catalog_resource_eav_mysql4>
                <rewrite>
                        <product_option>Aitoc_Aitoptionstemplate_Model_Mysql4_Rewrite_Eav_Mysql4_Product_Option</product_option>
                        <product_option_value>Aitoc_Aitoptionstemplate_Model_Mysql4_Rewrite_Eav_Mysql4_Product_Option_Value</product_option_value>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <catalog_resource>
                <rewrite>
                    <product_option>Aitoc_Aitoptionstemplate_Model_Mysql4_Rewrite_Product_Option</product_option>
                </rewrite>
            </catalog_resource>
            
            <bundle>
                <rewrite>
                        <product_type>Aitoc_Aitoptionstemplate_Model_Rewrite_FrontBundleProductType</product_type>
                </rewrite>
            </bundle>
        </models>
        
        <resources>
            <aitoptionstemplate_setup>
                <setup>
                    <module>Aitoc_Aitoptionstemplate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitoptionstemplate_setup>
        
            <aitoptionstemplate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitoptionstemplate_write>
            
            <aitoptionstemplate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitoptionstemplate_read>
        </resources>        
        
        <blocks>
            <aitoptionstemplate>
                <class>Aitoc_Aitoptionstemplate_Block</class>
            </aitoptionstemplate>
            
            <adminhtml>
                <rewrite>
                        <catalog_product_edit_tab_options>Aitoc_Aitoptionstemplate_Block_Rewrite_AdminhtmlCatalogProductEditTabOptions</catalog_product_edit_tab_options>
                </rewrite>
                <rewrite>
                        <catalog_product_edit_tab_options_option>Aitoc_Aitoptionstemplate_Block_Rewrite_AdminhtmlCatalogProductEditTabOptionsOption</catalog_product_edit_tab_options_option>
                </rewrite>
                <rewrite>
                        <catalog_product_edit_tab_super_config_grid>Aitoc_Aitoptionstemplate_Block_Rewrite_AdminhtmlCatalogProductEditTabSuperConfigGrid</catalog_product_edit_tab_super_config_grid>
                </rewrite>
                <rewrite>
                        <catalog_product_edit_tab_super_group>Aitoc_Aitoptionstemplate_Block_Rewrite_AdminhtmlCatalogProductEditTabSuperGroup</catalog_product_edit_tab_super_group>
                </rewrite>
            </adminhtml>
            
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option_search_grid>Aitoc_Aitoptionstemplate_Block_Rewrite_FrontBundleAdminhtmlCatalogProductEditTabBundleOptionSearchGrid</adminhtml_catalog_product_edit_tab_bundle_option_search_grid>
                </rewrite>
            </bundle>
        </blocks>
        
        <helpers>
            <aitoptionstemplate>
                <class>Aitoc_Aitoptionstemplate_Helper</class>
            </aitoptionstemplate>
        </helpers>
        
        <events>
            <!-- compatibility with Shopping Cart Editor -->
            <aiteditablecart_checkout_cart_update_items_before>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>allowLoadingDependableCollectionOnProductLoad</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>    
            </aiteditablecart_checkout_cart_update_items_before>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>allowLoadingDependableCollectionOnProductLoad</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>allowLoadingDependableCollectionOnProductLoad</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <controller_action_predispatch_sales_order_reorder>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>allowLoadingDependableCollectionOnProductLoad</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </controller_action_predispatch_sales_order_reorder>
            <catalog_product_collection_load_before>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>onProductCollectionLoadBefore</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </catalog_product_collection_load_before>    
            <sales_quote_item_collection_products_after_load>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>onSalesQuoteItemCollectionProductsAfterLoad</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </sales_quote_item_collection_products_after_load>
            <aitoptionstemplate_model_aittemplate_save_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onSaveDoReserveTemplate</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </aitoptionstemplate_model_aittemplate_save_after>

            <aitoptionstemplate_model_aittemplate_delete_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onDeleteDoReserveTemplate</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </aitoptionstemplate_model_aittemplate_delete_after> 
          
            <catalog_product_save_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onCatalogProductSaveAfter</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_option_save_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onSaveDoReserveOption</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </catalog_product_option_save_after>
            <catalog_product_option_delete_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onDeleteDoReserveOption</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </catalog_product_option_delete_after>  
            <core_abstract_save_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onSaveDoReserveValues</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </core_abstract_save_after>  
            <core_abstract_delete_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onDeleteDoReserveValues</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </core_abstract_delete_after>
            <catalog_product_save_commit_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>sigleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class> 
                        <method>onSaveProductReserveRelations</method> 
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>          
            </catalog_product_save_commit_after>
            <aitoc_module_disable_before>  
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>onModuleDisable</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </aitoc_module_disable_before> 
            <core_block_abstract_to_html_after>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>onBlockAbstractToHtmlAfter</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_block_html_before>
                <observers>
                    <aitoc_aitoptionstemplate_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitoptionstemplate_Model_Observer</class>
                        <method>onBlockHtmlBefore</method>
                    </aitoc_aitoptionstemplate_model_observer>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </global>

</config>

<!--
/**
 * Custom Options Templates
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitoptionstemplate
 * @version      3.2.9
 * @license:     iMG8ryrQYpy7f1WPNeYUzChWzfnzPomRnwOzOdn2KA
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
-->
