<div class="container" ng-controller="TrailerCtrl">
    <div class="formContent left">
        <label for="selectTrailer"> Select your trailer: </label>
            <select name="selectTrailer" ng-model="trailer.selectTrailer">
                <option ng-repeat="item in trailer.options" value="{{item.name}}">{{item.name}}</option>
            </select>
        <div class="submitBtn">
            <button ng-click="section.SaveAndNext(trailer, $event)">Next</button>
        </div>
    </div>
</div>