<?xml version="1.0"?>
<config>
    <modules>
        <Mainstreethost_ProfileConfigurator>
            <version>0.1.0</version>
        </Mainstreethost_ProfileConfigurator>
    </modules>
    <global>
        <models>
            <pc>
                <class>Mainstreethost_ProfileConfigurator_Model</class>
                <resourceModel>pc_resource</resourceModel>
            </pc>
            <pc_resource>
                <class>Mainstreethost_ProfileConfigurator_Model_Resource</class>
                <entities>
                    <profile>
                        <table>msh_pc_profiles</table>
                    </profile>
                    <configuration>
                        <table>msh_pc_configurations</table>
                    </configuration>
                    <rule>
                        <table>msh_pc_rules</table>
                    </rule>
                </entities>
            </pc_resource>
        </models>
        <blocks>
            <pc>
                <class>Mainstreethost_ProfileConfigurator_Block</class>
            </pc>
        </blocks>
        <helpers>
            <pc>
                <class>Mainstreethost_ProfileConfigurator_Helper</class>
            </pc>
        </helpers>
        <resources>
            <pc_setup>
                <setup>
                    <module>Mainstreethost_ProfileConfigurator</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pc_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <pc_admin>
                <use>admin</use>
                <args>
                    <module>Mainstreethost_ProfileConfigurator_Adminhtml</module>
                    <frontName>pc</frontName>
                </args>
            </pc_admin>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <profileconfiguratorsettings>
                                            <title>Profile Configurator Settings</title>
                                        </profileconfiguratorsettings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <pc>
                    <file>pc.xml</file>
                </pc>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <profileconfiguratorsettings>
            <startup>
                <profileconfiguratorattribute>-1</profileconfiguratorattribute>
            </startup>
        </profileconfiguratorsettings>
    </default>
</config>