<?xml version="1.0"?>
<config>
    <modules>
        <Mainstreethost_DependentAttributes>
            <version>0.1.0</version>
        </Mainstreethost_DependentAttributes>
    </modules>
    <global>
        <models>
            <da>
                <class>Mainstreethost_DependentAttributes_Model</class>
                <resourceModel>da_resource</resourceModel>
            </da>
            <da_resource>
                <class>Mainstreethost_DependentAttributes_Model_Resource</class>
                <entities>
                    <dependency>
                        <table>msh_dependencies</table>
                    </dependency>
                    <dependencymap>
                        <table>msh_dependency_map</table>
                    </dependencymap>
                </entities>
            </da_resource>
        </models>
        <blocks>
            <da>
                <class>Mainstreethost_DependentAttributes_Block</class>
            </da>
        </blocks>
        <helpers>
            <da>
                <class>Mainstreethost_DependentAttributes_Helper</class>
            </da>
        </helpers>
        <resources>
            <da_setup>
                <setup>
                    <module>Mainstreethost_DependentAttributes</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </da_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <da_admin>
                <use>admin</use>
                <args>
                    <module>Mainstreethost_DependentAttributes_Adminhtml</module>
                    <frontName>dependency</frontName>
                </args>
            </da_admin>
            <da_ajax>
                <use>admin</use>
                <args>
                    <module>Mainstreethost_DependentAttributes</module>
                    <frontName>dependencyajax</frontName>
                </args>
            </da_ajax>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <da>
                    <file>da.xml</file>
                </da>
            </updates>
        </layout>
    </adminhtml>
</config>