<?xml version="1.0"?>
<config>
    <modules>
        <Mainstreethost_ProductBuilder>
            <version>0.1.0</version>
        </Mainstreethost_ProductBuilder>
    </modules>
    <frontend>
        <routers>
            <boatbuilder>
                <use>standard</use>
                <args>
                    <module>Mainstreethost_ProductBuilder</module>
                    <frontName>boatbuilder</frontName>
                </args>
            </boatbuilder>
        </routers>
    </frontend>
    <global>
        <models>
            <pb>
                <class>Mainstreethost_ProductBuilder_Model</class>
                <resourceModel>pb_resource</resourceModel>
            </pb>
            <pb_resource>
                <class>Mainstreethost_ProductBuilder_Model_Resource</class>
            </pb_resource>
        </models>
        <blocks>
            <pb>
                <class>Mainstreethost_ProductBuilder_Block</class>
            </pb>
        </blocks>
        <helpers>
            <pb>
                <class>Mainstreethost_ProductBuilder_Helper</class>
            </pb>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Mainstreethost_ProductBuilder_model_observer>
                        <type>model</type>
                        <class>Mainstreethost_ProductBuilder_Model_Observer</class>
                        <method>getpbProducts</method>
                    </Mainstreethost_ProductBuilder_model_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <boatbuildersettings>
                                            <title>Boat Builder Settings</title>
                                        </boatbuildersettings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>