<?xml version="1.0"?>
<config>
    <modules>
        <Mainstreethost_GatorTraxBoatBuilder>
            <version>0.1.0</version>
        </Mainstreethost_GatorTraxBoatBuilder>
    </modules>
    <global>
        <models>
            <gator>
                <class>Mainstreethost_GatorTraxBoatBuilder_Model</class>
                <resourceModel>gator_resource</resourceModel>
            </gator>
            <gator_resource>
                <class>Mainstreethost_GatorTraxBoatBuilder_Model_Resource</class>
            </gator_resource>
        </models>
        <blocks>
            <gator>
                <class>Mainstreethost_GatorTraxBoatBuilder_Block</class>
            </gator>
        </blocks>
        <helpers>
            <gator>
                <class>Mainstreethost_GatorTraxBoatBuilder_Helper</class>
            </gator>
        </helpers>
    </global>
</config>