<div class="container" ng-controller="ElectricalCtrl">
        <div id="tabs" class="tabs" ng-model="electrical">
            <tabset ng-repeat="option in electrical">
                <tab ng-repeat="item in option.products" heading="{{item.name}}" ng-model="item" active="item.active" disable="item.disabled">
                    <div class="non-scrollable-container">
                        <div class="group-box" ng-repeat="item in option.products">
                            <div class="left">
                                <input type="radio" name="option" ng-model="item" ng-value="item"/> {{item.name}}
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    {{electrical}}
    <div class="submitBtn">
        <button ng-click="section.SaveAndNext(electrical, $event)">Next</button>
    </div>
</div>